.header{
    /*position: fixed;
    top: 0;
    left: 0;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 3em;
    padding: 0.7rem;
    background-color: transparent;
}

header > :first-child{
    margin-right: auto;
}

header > :nth-child(2), header > :nth-child(3){
    margin-right: 5em;
}

.header__logo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 800;
    font-size: var(--size-3xl);
}

.header__logo:hover{
  color: var(--clr-light-blue);
}

.logo{
    max-width: 45px;
    max-height: auto;
    margin-left: 30px;
}

.button{
    outline:none;
    background-color: var(--clr-light-blue);
    color: white;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 10px;
}
