.top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
}

.logo{
    width:188px;
    height: 90px;
}

h1{
  font-size: 4rem;
  font-weight: 650;
}
