<section class="hero">
    <div class="hero__text">
        <h1 class="hero__title">Bus Service Munich</h1>
        <h2 class="hero__subtitle">Your Ultimate Bus Guide To <br> Routes & Tickets and Timetables</h2>
        <p class="hero__desc">Explore Munich’s bus routes, view up-to-date timetables, and effortlessly buy tickets—all in one place.
             Whether you're commuting, traveling, or just exploring, our app makes getting around simple, fast, and stress-free.</p>
        <div class="hero__links">  
            <a href="#">Get Started</a>
            <a href="#">Contact Us</a>
        </div>   
    </div>
    <div class="hero__images">

    </div>
</section>
