<section class="hero">
    <div class="hero__text">
        <h1 class="hero__title">Bus Service Munich</h1>
        <h2 class="hero__subtitle">Your Ultimate Bus Guide To <br> Routes & Tickets and Timetables</h2>
        <p class="hero__desc">Explore Munich’s bus routes, view up-to-date timetables, and effortlessly buy tickets—all in one place.
             Whether you're commuting, traveling, or just exploring, our app makes getting around simple, fast, and stress-free.</p>
        <div class="hero__links">  
            <a href="#">Get Started</a>
            <a href="#">Contact Us</a>
        </div>   
        <div class="hero__socialIcons">
            <a href="#" class="fb"><fa-icon class="facebook" [icon]="faFacebook"></fa-icon></a>
            <a href="#" class="yt"><fa-icon class="youtube" [icon]="faYoutube"></fa-icon></a>
            <a href="#" class="tw"><fa-icon class="twitter" [icon]="faTwitter"></fa-icon></a>
        </div>
    </div>
    <div class="hero__images">
        <!--<img src="/pattern.png" alt="" class="pattern"/>-->
        <img src="/moon4.png" alt="" class="moon"/>
        <img src="/gps3.png" alt="" class="gps animate arriveFromTop"/>
        <img src="/bg9.png" alt="" class="city"/>
        <div class="hero__foreground">  
            <img src="/bushflipped.png" alt="" class="bus2 animate moveBus animate__slow"/>
            <img src="/girl4c.png" alt="" class="girl"/>
            <img src="/man3.png" alt="" class="man"/>
        </div>  
    </div>
</section>
